{% extends "base.html" %}

{% block title %}Nhan Nguyen's Profile{% endblock %}

{% block body %}
  <section class="section has-text-centered">
    <figure class="image container is-128x128 mb-4">
      <img class="is-rounded"
           src="https://avatars.githubusercontent.com/u/41908529?v=4"/>
    </figure>
    <p class="title">Nhan Nguyen</p>
    <p class="subtitle">@nttnhannho</p>
    <a class="button is-info is-outlined is-rounded" href="{{ url_for('contact') }}">Contact</a>
    <a class="button is-dark is-outlined is-rounded"
       href="https://github.com/nttnhannho" target="_blank" rel="noopener noreferrer">Github</a>
  </section>
  <section class="columns">
    <div class="column is-three-fifths is-offset-one-fifth has-background-light">
      <div class="columns is-gapless">
        <div class="column is-half">
          <div class="card m-3">
            <div class="card-content">
              <h1 class="title">About</h1>
              <p>{{ profile.about }}</p>
            </div>
          </div>
          <div class="card m-3 has-background-link-light">
            <div class="card-content">
              <h1 class="title">Interests</h1>
              <p>{{ profile.interests }}</p>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="card m-3 has-background-primary-light">
            <div class="card-content">
              <h1 class="title">Experience</h1>
              <p>{{ profile.experience }}</p>
            </div>
          </div>
          <div class="card m-3 has-background-warning-light">
            <div class="card-content">
              <h1 class="title">Education</h1>
              <p>{{ profile.education }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}